.movies_container {
  margin-top: 40px;
  max-width: 1150px;
  margin: 0 auto;
  background-color: rgb(165, 165, 165);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.no_found {
  font-family: 'Manrope-600', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: white;
  text-align: center;
}
