.card_container {
  max-width: 250px;
  background-color: rgb(39, 39, 39);
  border-radius: 20px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  position: relative;
}

.link_to_detail_page {
  cursor: default;
}

.card_img {
  border-radius: 20px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  max-width: 100%;
  overflow: hidden;
  user-select: none;
}

.favoriteIcon_container {
  display: flex;
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: rgba(114, 114, 114, 0.6);
  padding: 4px;
  border-radius: 10px;
  cursor: pointer;
}

.trash_icon_container {
  display: flex;
  position: absolute;
  top: 55px;
  right: 15px;
  background-color: rgba(114, 114, 114, 0.6);
  padding: 1px;
  border-radius: 10px;
  cursor: pointer;
}

.info_conteiner {
  padding: 10px;
}

.movie_titte {
  font-family: 'Manrope-500', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: white;
}

.year_genre_container {
  display: flex;
  justify-content: space-between;
  font-family: 'Manrope-400', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #a6a6a6;
}

.movie_year {
}

.movie_genre {
  text-transform: capitalize;
}
